/* Reset
--------------------------------*/

body {
	margin: 0;
}

blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

ol, ul, li {
	list-style: none;
}

strong {
	font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

th {
	text-align: left;
	table-layout: fixed;
}

p {
	margin: 0 0 1rem;
}

/* Global
--------------------------------*/

body {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	padding-bottom: 3.5rem;
	background: #9F242F;
	color: #515151;
	font: 300 16px /1.5 'Josefin Sans', sans-serif;
}

.center {
	text-align: center;
}

a {
	text-decoration: none;
	color: #9F242F;
}

/* Grid
--------------------------------*/

.slab,
.wrap {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 62rem;
}

.clear:before,
.clear:after {
	content: '';
	display: table;
	clear: both;
}

/* Typography
--------------------------------*/

h1,
h2,
h3 {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 0 1rem;
}

h1 a,
h2 a,
h3 a {
	color: #FFF;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.5em;
}

/* Header
--------------------------------*/

[role="banner"] {
	border-bottom: 1px solid rgba( 223, 84, 85, 0.2 );;
	padding-bottom: 1rem;
	font-family: 'Josefin Slab', sans-serif;
	padding-top: 1rem;
	font-size: 1.25em;
	background: #212121;
}

[role="banner"] .logo {
	color: #FFF;	
}

/* Main nav
--------------------------------*/

.main-nav {
	text-align: center;
	text-transform: uppercase;
	background: rgba( 223, 84, 85, 0.9 );
	position: fixed;
	z-index: 10;
	height: 3.5rem;
	bottom: 0;
	width: 100%;
	left: 0;
}

.main-nav ul {
	table-layout: fixed;
	display: table;
	height: 100%;
	width: 100%;
}

.main-nav li {
	display: table-cell;
}

.main-nav li + li {
	border-left: 1px solid #9F242F;
}

.main-nav a {
	transition: 300ms color;
	line-height: 1.4;
	text-align: center;
	display: block;
	height: 3.5rem;
	padding: 0.4rem 0 0;
	font-size: 0.875rem;
	color: #EEE;
}

.main-nav a img {
	transition: 300ms all;
	opacity: 0.5;
}

.main-nav a:hover {
	color: #FFF;
}

.main-nav a:hover img {
	opacity: 1;
}

.main-nav img {
	display: inline-block;
	width: 18px;
}

@media screen and ( min-width: 35em ) {

	[role=banner] {
		padding-top: 0.75rem;
		padding-bottom: 0;
	}

	[role=banner] .logo {
		padding-top: 0.5rem;
		float: left;
	}

	.main-nav {
		position: static;
		text-align: left;
		background: none;
		height: auto;
		width: auto;
		float: right;
	}

	.main-nav ul {
		display: inline-block;
	}

	.main-nav li {
		width: auto;
	}

	.main-nav li + li {
		border: none;
	}

	.main-nav a {
		text-transform: none;
		margin-left: 2rem;
		font-size: 0.875rem;
		padding-top: 0;
		height: auto;
	}
}

/* Forms
--------------------------------*/

.button {
	box-shadow: 3px 3px 0 0 #8F141F;
	cursor: pointer;
	padding: 0.8rem 1.5rem;
	display: inline-block;
	margin: 1rem 1rem 1.5rem 0;
	border: none;
	background: #9F242F;
	width: auto;
	text-align: center;
	color: #FFF;
	font: 400 1em 'Josefin Sans', sans-serif;
}

/*.button.tweet {
	background: #19B5FE;
	box-shadow: 3px 3px 0 0 #447890;
}*/

.button + .button {
	margin-top: 0;
}

/* Slab
--------------------------------*/

@media screen and ( min-width: 30em ) {

	[role=main] {
		padding: 0;
	}

	[role=main] > .slab:first-child {
		margin-top: 1.5rem;
	}

}

.slab {
	margin-bottom: 1.5rem;
	box-shadow: 7px 7px 0 0 rgba( 255, 255, 255, 0.05 );
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	position: relative;
	background: #E1C4BE;
	color: #353238;
}

.slab :last-child {
	margin-bottom: 0;
}

.slab--content {
	font-size: 1.25em;
}

/* Challenge
--------------------------------*/

.challenge__title {
	font-size: 1.25em;1
}

/* Ranking
--------------------------------*/

.ranking {
	font-size: 0.8em;
}

.ranking h1 {
	padding-left: 1.5em;
}

.ranking__points {
	float: right;
	background-color: rgba( 255, 255, 255, 0.5 );
	width: 2em;
	text-align: center;
	height: 2em;
	padding-top: 0.25em;
	border-radius: 1em;
	margin-left: 1em
}

/* Home
--------------------------------*/

.advent-calendar {
	font-size: 0;
}

.challenge--home {
	/*width: 25%;
	float: left;*/
}

@media screen and ( min-width: 25em ) {
	.challenge--home {
		width: 50%;
		float: left;
	}

	.challenge.challenge--home:nth-child(2) {
		border-top: none;
	}

	.challenge--home:nth-child(2n+1) {
		clear: left;
	}
}

@media screen and ( min-width: 40em ) {
	.challenge--home {
		width: 33.333%;
		float: left;
	}

	.challenge--home:nth-child(3) {
		border-top: none;
	}

	.challenge--home:nth-child(2n+1) {
		clear: none;
	}

	.challenge--home:nth-child(3n+1) {
		clear: left;
	}
}

@media screen and ( min-width: 50em ) {
	.challenge--home {
		width: 25%;
		float: left;
	}

	.challenge--home:nth-child(4) {
		border-top: none;
	}

	.challenge--home:nth-child(3n+1) {
		clear: none;
	}

	.challenge--home:nth-child(4n+1) {
		clear: left;
	}
}

.challenge--home:hover {
	background: rgba( 0, 0, 0, 0.1 );
}

.challenge--home + .challenge--home {
	border-top: 1px solid rgba( 230, 85, 85, 0.2 );
}

.challenge--home a {
	text-align: center;
	font-size: 1rem;
	padding: 2rem 0.5rem;
	color: #FFF;
	display: block;
}

.challenge--bonus {
	display: none;
}

.challenge--home h2 {
	font-size: 1.25em;
	margin: 0 0 0.5rem;
}

.challenge--home h3 {
	font-size: 1.125em;
	margin: 0 0 0.5rem;
}

.ranking__position {
	float: left;
	padding-top: 0.1em;
}

.ranking__me {
	background-color: rgba( 255, 255, 255, 0.3 );
}
