/* Reset
--------------------------------*/

body {
	margin: 0;
}

blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

ol, ul, li {
	list-style: none;
}

strong {
	font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

th {
	text-align: left;
	table-layout: fixed;
}

p {
	margin: 0 0 1rem;
}

/* Global
--------------------------------*/

body {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	padding-bottom: 3.5rem;
	background: #9F242F;
	color: #515151;
	font: 300 16px /1.5 'Josefin Sans', sans-serif;
}

.center {
	text-align: center;
}

a {
	text-decoration: none;
	color: #9F242F;
}

/* Grid
--------------------------------*/

.slab,
.wrap {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 62rem;
}

.clear:before,
.clear:after {
	content: '';
	display: table;
	clear: both;
}

/* Typography
--------------------------------*/

h1,
h2,
h3 {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 0 1rem;
}

h1 a,
h2 a,
h3 a {
	color: #FFF;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.5em;
}

/* Header
--------------------------------*/

[role="banner"] {
	border-bottom: 1px solid rgba( 223, 84, 85, 0.2 );;
	padding-bottom: 1rem;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 1rem;
	font-size: 1.25em;
	background: #212121;
}

[role="banner"] .logo {
	color: #CCC;	
}

[role="banner"] .logo strong {
	color: #FFF;
}

/* Main nav
--------------------------------*/

.main-nav {
	text-align: center;
	text-transform: uppercase;
	background: rgba( 223, 84, 85, 0.9 );
	position: fixed;
	z-index: 10;
	height: 3.5rem;
	bottom: 0;
	width: 100%;
	left: 0;
}

.main-nav ul {
	table-layout: fixed;
	display: table;
	height: 100%;
	width: 100%;
}

.main-nav li {
	display: table-cell;
}

.main-nav li + li {
	border-left: 1px solid #9F242F;
}

.main-nav li:nth-child(4) {
	display: none;
}

.main-nav a {
	-webkit-transition: 300ms color;
			transition: 300ms color;
	line-height: 1.4;
	text-align: center;
	display: block;
	height: 3.5rem;
	padding: 0.4rem 0 0;
	font-size: 0.875rem;
	color: #EEE;
}

.main-nav a img {
	-webkit-transition: 300ms all;
			transition: 300ms all;
	opacity: 0.5;
}

.main-nav a:hover {
	color: #FFF;
}

.main-nav a:hover img {
	opacity: 1;
}

.main-nav img {
	display: inline-block;
	width: 18px;
}

@media screen and ( min-width: 35em ) {

	body {
		padding-bottom: 0;
	}

	[role=banner] {
		padding-top: 0.75rem;
		padding-bottom: 0;
	}

	[role=banner] .logo {
		padding-top: 0.5rem;
		float: left;
	}

	.main-nav {
		position: static;
		text-align: left;
		background: none;
		height: auto;
		width: auto;
		float: right;
	}

	.main-nav ul {
		display: inline-block;
	}

	.main-nav li {
		width: auto;
	}

	.main-nav li:nth-child(4) {
		display: table-cell;
	}

	.main-nav li + li {
		border: none;
	}

	.main-nav a {
		text-transform: none;
		margin-left: 2rem;
		font-size: 1rem;
		padding-top: 0;
		height: auto;
	}
}

/* Forms
--------------------------------*/

.button {
	-webkit-transition: 300ms all;
			transition: 300ms all;
	box-shadow: 3px 3px 0 0 #8F141F;
	cursor: pointer;
	padding: 0.8rem 1.5rem;
	display: inline-block;
	margin: 1rem 1rem 1.5rem 0;
	border: none;
	background: #9F242F;
	width: auto;
	text-align: center;
	color: #FFF;
	font: 400 1em 'Josefin Sans', sans-serif;
}

.button:hover {
	background: #8F141F;
	box-shadow: 3px 3px 0 0 #7F040F;
}

.button + .button {
	margin-top: 0;
}

/* Slab
--------------------------------*/

body {
	overflow-x: hidden;
}

@media screen and ( min-width: 30em ) {

	[role=main] {
		padding: 0;
	}

	[role=main] > .slab:first-child {
		margin-top: 1.5rem;
	}

}

.slab {
	margin-bottom: 1.5rem;
	box-shadow: 7px 7px 0 0 rgba( 255, 255, 255, 0.1 );
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	position: relative;
	background: #FAFAFA;
	color: #353238;
}

.slab :last-child {
	margin-bottom: 0;
}

.slab--content {
	font-size: 1.25em;
}

.slab--content ul {
	margin-bottom: 1rem;
}

.slab--content li {
	list-style-position: outside;
	list-style: disc;
	margin: 0 0 0.25rem 1.6rem;
}

/* Challenge
--------------------------------*/

.challenge__title {
	font-size: 1.25em;1
}

/* Ranking
--------------------------------*/

.ranking {
	font-size: 0.8em;
}

.ranking h1 {
	padding-left: 1.5em;
}

.ranking__points {
	float: right;
	background-color: rgba( 255, 255, 255, 0.5 );
	width: 2em;
	text-align: center;
	height: 2em;
	padding-top: 0.25em;
	border-radius: 1em;
	margin-left: 1em
}

/* Home
--------------------------------*/

.advent-calendar {
	font-size: 0;
}

.challenge--home {
	position: relative;
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
	-webkit-transition: 300ms;
	transition: 300ms;
	-webkit-perspective: 800px;
	        perspective: 800px;
}

.challenge--home:before,
.challenge--home:after {
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transform-origin: left top;
	    -ms-transform-origin: left top;
	        transform-origin: left top;
	-webkit-transition: 300ms all;
	transition: 600ms all;
	background: #9F242F;
	content: '';
	position: absolute;
	z-index: 1;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
}

.challenge--home:after {
	-webkit-transform-origin: right bottom;
	    -ms-transform-origin: right bottom;
	        transform-origin: right bottom;
	left: auto;
	top: auto;
	bottom: 0;
	border-top: 2px dashed rgba( 175, 52, 63, 0.5 );
}

.challenge--home:hover {
	z-index: 10;
}

.challenge--home:hover:before,
.challenge--home:hover:after {
	background: #8F141F;
}

.challenge--home:hover:before {
	-webkit-transform: rotateX( 130deg );
			transform: rotateX( 130deg );
}

.challenge--home:hover:after {
	-webkit-transform: rotateX( -130deg );
			transform: rotateX( -130deg );
}

.challenge__date {
	-webkit-transition: 200ms all;
			transition: 200ms all;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	color: #FFF;
	z-index: 3;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
	opacity: 0.8;
}

.challenge--home:hover .challenge__date {
	opacity: 0;
	right: 0;
}

@media screen and ( min-width: 25em ) {

	.advent-calendar {
		overflow-x: hidden;
		display: flex;
		flex-wrap: wrap;
	}

	.challenge--home {
		width: 50%;
		float: left;
		border-left: 2px solid rgba( 230, 85, 85, 0.2 );
	}

	.challenge.challenge--home:nth-child(2) {
		border-top: none;
	}

	.challenge--home:nth-child(2n+1) {
		clear: left;
	}

	.challenge--home:before,
	.challenge--home:after {
		height: 100%;
		width: 50%;
		top: 0;
		bottom: auto;
	}

	.challenge--home:after {
		-webkit-transform-origin: right bottom;
		    -ms-transform-origin: right bottom;
		        transform-origin: right bottom;
		left: auto;
		right: 0;
		border-left: 2px dashed rgba( 175, 52, 63, 0.5 );
		border-top: 0;
	}

	.challenge--home:hover:before {
		-webkit-transform: rotateY( -150deg );
				transform: rotateY( -150deg );
	}

	.challenge--home:hover:after {
		-webkit-transform: rotateY( 150deg );
				transform: rotateY( 150deg );
	}
}

@media screen and ( min-width: 40em ) {
	.challenge--home {
		width: 33.333%;
		float: left;
	}

	.challenge.challenge--home:nth-child(3) {
		border-top: none;
	}

	.challenge--home:nth-child(2n+1) {
		clear: none;
	}

	.challenge--home:nth-child(3n+1) {
		clear: left;
	}
}

@media screen and ( min-width: 50em ) {
	.challenge--home {
		width: 25%;
		float: left;
	}

	.challenge.challenge--home:nth-child(4) {
		border-top: none;
	}

	.challenge--home:nth-child(3n+1) {
		clear: none;
	}

	.challenge--home:nth-child(4n+1) {
		clear: left;
	}
}

.challenge--home:hover {
	background: rgba( 0, 0, 0, 0.1 );
}

.challenge--home + .challenge--home {
	border-top: 2px solid rgba( 230, 85, 85, 0.2 );
}

.challenge--home a {
	text-align: center;
	font-size: 1rem;
	padding: 2rem 0.5rem;
	color: #FFF;
	display: block;
}

.challenge--bonus {
	display: none;
}

.challenge--home h2 {
	font-size: 1.25em;
	margin: 0 0 0.5rem;
}

.challenge--home h3 {
	font-size: 1.125em;
	margin: 0 0 0.5rem;
}

.ranking__position {
	float: left;
	padding-top: 0.1em;
}

.ranking__me {
	background-color: rgba( 255, 255, 255, 0.3 );
}

/* Badges
--------------------------------*/

.badges {
	font-size: 0;
}

.badge {
	vertical-align: middle;
	padding: 0 0.625rem;
	width: 100%;
}

.badge img {
	opacity: 0.5;
	margin: 0 auto;
	max-width: 164px;
	width: 100%;
}

.badge img[src*="-full"] {
	opacity: 1;
}

@media screen and (min-width: 30em) {

	.badges {
		width: 100%;
		display: table;
		table-layout: fixed;
	}

	.badge {
		display: table-cell;
	}

}

/* Day header
--------------------------------*/

.day-header {
	background-position: center;
	background-color: rgba( 0, 0, 0, 0.1 );
	background-size: cover;
	text-align: center;
	position: relative;
	padding: 2rem 0;
	color: #FFF;
}

.day-header:after {
	content: '';
	background: rgba( 0, 0, 0, 0.3 );
	position: absolute;
	height: 100%;
	width: 100%;
	color: #FFF;
	left: 0;
	top: 0;
}

.day-header .wrap {
	position: relative;
	z-index: 2;
}

.day-header h1 {
	line-height: 1.2;
}

.day-header .button {
	margin: 0 0 1rem;
	width: 100%;
	font-weight: 400;
}

@media screen and ( min-width: 30em ) {

	.day-header {
		padding: 5rem 0;
		margin-bottom: 1.5rem;
	}

	.day-header .button {
		width: auto;
		margin: 0 1rem 1rem 0;
	}

}

@media screen and ( min-width: 40em ) {

	.day-header {
		padding: 8rem 0;
		font-size: 1.25em;
	}

	.day-header h1 {
		/*font-size: */
	}

}

















